    p {
        font-family: 'Nunito', sans-serif;
        font-size: 25px;
        text-align: center;
    }
    
    ;
    h1 {
        font-style: italic;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        text-decoration: solid;
    }