    p {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
    }
    
    h2 {
        font-style: italic;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        text-decoration: solid;
        background-color: #F8F9FA;
    }