p {
    color: #012401;
    font-style: italic;
    font-weight: bold;
}

h3 {
    color: #012401;
    font-style: italic;
    font-weight: bold;
}

h6 {
    color: #012401;
    font-style: italic;
    font-weight: bold;
}